<div class="container-fluid paddingZero contentContainer">
    <div class="row paddingZero marginZero">
        <div class="col-2 paddingZero">
          <app-left-sidebar></app-left-sidebar>
        </div>
        
        <div class="col-10">
            <div class="equipmentDetailContainer col-md-12 row">
<div class="equipmentImageContaier col-md-7">
  <img class="equipmentImage col-md-12" src="./assets/images/product-image.png">
</div>
<div class="col-md-5 column container-fluid">
  <div class="equipmentNameHeader col-md-12">
    <span class="equipmentName">Large IC Cushion Forklift</span>
    <i class="fa fa-chevron-down headerChevron"></i>
    <img src="./assets/images/group-2-copy-3.svg" class="headerIcon">
  </div>
  <div class="equipmentLocationDetails col-md-12">
    <span class="equipmentLocation">St. Pauls Warehouse</span>
    <img src="./assets/images/group-copy.svg" class="locationIcon">
  </div>
  <div class="searchBoxContainer col-md-12">
    <form class="form-inline searchForm col-12">
      <div class="input-group searchFormInputs">
        <input type="text" class="form-control searchBoxInput" placeholder="Search product, content or article" aria-describedby="search">
        <span class="input-group-addon searchIcon" id="basic-addon1">
          <i class="fa fa-1x fa-search" style="color:white;" ></i>
      </span>
      </div>
  </form>
  </div>
  <div class="detailsContainer col-md-12 column">
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Age:</span><span class="detailsValue col-md-6">3 yrs</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Start Date:</span><span class="detailsValue col-md-6">09/30/2014</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Hours Used:</span><span class="detailsValue col-md-6">25000 Hrs</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Miles Driven:</span><span class="detailsValue col-md-6">3500</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Lifting Capacity:</span><span class="detailsValue col-md-6">8000 - 15000 Lbs</span></div>
  </div>
  <div class="detailsTableContainer col-md-12">
    <table class="table">
      <tbody>
        <tr class="tableRow">
        <td class="tableDetails">
          <span class="tableRowHead">Dealer Info</span>
        </td>
        <td class="tableDetails">
            <span class="tableRowHead">Warranty 2 Years</span>
          </td>
      </tr>
      <tr class="tableRow">
        <td class="tableDetails">
          <div class="col-md-12"><span class="tableRowDealerName">Toylift Inc</span></div>
          <div class="col-md-12"><span class="tableRowDealerAddress">1850, John Towers Av. Minneapolis MN 55111</span></div>
          <div class="col-md-12" style="margin-top:15%;"><span class="tableRowDealerSite">www.toyliftinc.com</span></div>
        </td>
        <td class="tableDetails">
          <div class="col-md-12"><span class="warrantyExpiringDetail">Expiring on 01/10/2019</span></div>
          <div class="col-md-12" style="margin-top:40%;"><button class="renewButton  btn btn-large"><span class="renewText">RENEW</span></button></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
        </div>
    </div>
</div>

