<div class="container-fluid paddingZero contentContainer">
    <div class="row paddingZero marginZero">
        <div class="col-2 paddingZero">
          <app-left-sidebar></app-left-sidebar>
        </div>
        
        <div class="col-9">
            <div class="equipmentDetailContainer col-md-12 row">
<div class="equipmentImageContaier col-md-7">
  <img class="equipmentImage col-md-12" src="./assets/images/product-image.png">
</div>
<div class="col-md-5 column container-fluid">
  <div class="equipmentNameHeader col-md-12">
    <span class="equipmentName">Large IC Cushion Forklift</span>
    <i class="fa fa-chevron-down headerChevron"></i>
    <img src="./assets/images/group-2-copy-3.svg" class="headerIcon">
  </div>
  <div class="equipmentLocationDetails col-md-12">
    <span class="equipmentLocation">St. Pauls Warehouse</span>
    <img src="./assets/images/group-copy.svg" class="locationIcon">
  </div>
  <div class="searchBoxContainer col-md-12">
    <form class="form-inline searchForm col-12">
      <div class="input-group searchFormInputs">
        <input type="text" class="form-control searchBoxInput" placeholder="Search product, content or article" aria-describedby="search">
        <span class="input-group-addon searchIcon" id="basic-addon1">
          <i class="fa fa-1x fa-search" style="color:white;" ></i>
      </span>
      </div>
  </form>
  </div>
  <div class="detailsContainer col-md-12 column">
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Age:</span><span class="detailsValue col-md-6">3 yrs</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Start Date:</span><span class="detailsValue col-md-6">09/30/2014</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Hours Used:</span><span class="detailsValue col-md-6">25000 Hrs</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Miles Driven:</span><span class="detailsValue col-md-6">3500</span></div>
    <div class="detailsMainContainer col-md-12"><span class="detailsLabel col-md-6">Lifting Capacity:</span><span class="detailsValue col-md-6">8000 - 15000 Lbs</span></div>
  </div>
  <div class="detailsTableContainer col-md-12">
    <table class="table" style="width:29em;">
      <tbody>
        <tr class="tableRow">
        <td class="tableDetails">
          <span class="tableRowHead">Dealer Info</span>
        </td>
        <td class="tableDetails">
            <span class="tableRowHead">Warranty 2 Years</span>
          </td>
      </tr>
      <tr class="tableRow">
        <td class="tableDetails">
          <div class="col-md-12"><span class="tableRowDealerName">Toylift Inc</span></div>
          <div class="col-md-12"><span class="tableRowDealerAddress">1850, John Towers Av. Minneapolis MN 55111</span></div>
          <div class="col-md-12" style="margin-top:15%;"><span class="tableRowDealerSite">www.toyliftinc.com</span></div>
        </td>
        <td class="tableDetails">
          <div class="col-md-12"><span class="warrantyExpiringDetail">Expiring on 01/10/2019</span></div>
          <div class="col-md-12" style="margin-top:40%;"><button class="renewButton  btn btn-large"><span class="renewText">RENEW</span></button></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
        </div>
        <app-tab-panel></app-tab-panel>

        <div class="equipmentEventDetailsContainer col-12">
          <div class="calendarDetailsContainer col-7"></div>
          <div class="eventDetailsContainer col-5">
            <div class="eventContainer col-12">
              <div class="eventHeading">Event</div>
              <div class="upcomingTimeHeading">Upcoming in 3 months</div>
              <mat-card class="upcomingEventCardClass">
                <mat-card-content class="upcomingEventContainer">
                  <div class="col-1" style="float:left; padding-top:10%;">
                      <i class="fa fa-chevron-left" style="color: #9b9b9b;"></i>
                  </div>
                  <div class="col-10 scheduleDetailClass">
                    <div class="scheduleDetails col-12">
                      <div class="detailsContainer col-11" style="float:left;">
                        <span class="detailsHeading col-12">Engine Maintenance</span>
                        <span class="detailsDueDate col-12">Due On - 15th Jan 2018</span>
                      </div>
                      <div class="col-1" style="float:right; padding:0;">
                          <img src="./assets/images/group-149-copy-4.svg" class="Group-149-Copy-4">
                      </div>
                    </div>
                    <div class="scheduleService col-12">
                      <button class="btn btn-large scheduleServiceButton">SCHEDULE A SERVICE</button>
                    </div>
                  </div>
                  <div class="col-1" style="float:right; padding-top:10%;">
                      <i class="fa fa-chevron-right" style="color: #9b9b9b;"></i>
                  </div>
                </mat-card-content>
              </mat-card>
            </div>
            <div class="recommendedProductContainer col-12">
              <div class="recommendedHeading">
                Recommended Products
              </div>
              <mat-card class="recommendedProductCard">
                <mat-card-content class="recommendedProductContent">
                  <div class="productImageClass col-6">
                    <img class="productImage col-12" src="./assets/images/group-5.png" style="padding:0;">
                  </div>
                  <div class="productDetails col-6">
                    <div class="productName col-12">Engine Oil Bundle</div>
                    <div class="productPrice col-12">( $ 30  - $ 40 / gal )</div>
                    <div class="skill col-12">Skill</div>
                    <button class="btn btn-large purchaseButton col-12">PURCHASE</button>
                  </div>
                </mat-card-content>
              </mat-card>
              <mat-card class="recommendedMaintenanceRoutineCard">
                <mat-card-content class="recommendedMaintenanceRoutineContent">
                  <div class="col-5" style="float:left;"><img class="recommendedMaintenanceImage col-12" src="./assets/images/group.png"></div>
                  <div class="recommendedRoutineLabel col-5">Recommended Engine Maintenance Routines</div>
                  <div class="col-1" style="float:right;padding-top: 4%;"><i _ngcontent-c1="" class="fa fa-chevron-right col-12" style="color: #9b9b9b;padding: 0;"></i></div>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
    </div>
</div>

