<nav class="navbar navbar-toggleable-md top-navbar-container row">
    <div class="brandContainer col">   
        <a class="navbar-brand" href="#" class="headerIcon">
        <img src="/assets/images/page-1@3x.png" width="30" height="30" class="d-inline-block align-top rounded headerIconImage" alt="">
        </a>
    </div>
    
    <form class="form-inline searchForm col-7">
        <div class="input-group searchFormInputs">
          <span class="input-group-addon searchIcon" id="basic-addon1">
              <i class="fa fa-2x fa-search"></i>
          </span>
          <input type="text" class="form-control" aria-describedby="search">
        </div>
    </form>
    
    <ul class="nav justify-content-end top-navbar col-3">
      <li class="nav-item">
        <a class="nav-link active" href="#"><i class="fa fa-2x fa-truck"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-2x fa-envelope-o"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-2x fa-shopping-cart"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">User</a>
      </li>
    </ul>
</nav>

    

<div class="container-fluid paddingZero contentContainer d-flex justify-content-center">
    <div class="col paddingZero">
      <div class="contentContainer d-flex">
      <ul class="nav flex-column" id="exCollapsingNavbar3">
          <a class="nav-link navbarItems active" [class.selectedPage]="this.selectedPage=='myEquipments'" href="#"><li class="nav-item">
              <span class="my-equipments">MY EQUIPMENT</span>
          </li>
        </a>  
        <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myOrders'" href="#"><li class="nav-item">
          <span class="my-orders">MY ORDERS</span>
             </li>
        </a>
        <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myRequisitions'" href="#">
          <li class="nav-item">
            <span class="my-requisitions">MY REQUISITIONS</span>
          </li>
        </a>
    </ul>
  </div>

  <div class="contentContainer d-flex">
  <ul class="nav flex-column" id="exCollapsingNavbar3">
      <a class="nav-link navbarItems active" [class.selectedPage]="this.selectedPage=='myEquipments'" href="#"><li class="nav-item">
          <span class="my-equipments" [class.selectedItem]="this.selectedPage=='myEquipments'">MY EQUIPMENT</span>
      </li>
    </a>  
    <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myOrders'" href="/equipmentDetails"><li class="nav-item">
      <span class="my-orders" [class.selectedItem]="this.selectedPage=='myOrders'">MY ORDERS</span>
         </li>
    </a>
  <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myRequisitions'" href="#"><li class="nav-item">
    <span class="my-requisitions" [class.selectedItem]="this.selectedPage=='myRequisitions'">MY REQUISITIONS</span>
  </li>
  </a>
</ul>

<router-outlet></router-outlet>

    </div>
    <div class="col-12 col-md-auto">
        <div class="col-12 align-items-center">
            <div id="regions_div" appMapview></div>
        </div>
    </div>
    <div class="col">
        
    </div>
    
</div>

