<nav class="navbar navbar-toggleable-md top-navbar-container row">
    <div class="brandContainer col-2">   
        <div class="brandBox">        
            <img src="/assets/images/page-1@3x.png" width="65" height="40" class="headerIconImage" alt="">
        </div>
    </div>
    
    <div class="col-7"> 
        <form class="form-inline searchForm ">
            <div class="input-group searchFormInputs">
              <span class="input-group-addon searchIcon" id="basic-addon1">
                  <i class="fa fa-2x fa-search"></i>
              </span>
              <input type="text" class="form-control" aria-describedby="search">
            </div>
        </form>
    </div>
    
    <div class="col-3">         
        <a class="active menuItem" href="#"><i class="fa fa-2x fa-truck"></i></a>
        <a class="menuItem" href="#"><i class="fa fa-2x fa-envelope-o"></i></a>
        <a class="menuItem" href="#"><i class="fa fa-2x fa-shopping-cart"></i></a>
        <a class="menuItem disabled" href="#">User</a>          
    </div>
</nav>

<div class="container-fluid paddingZero contentContainer">
    <div class="row">
        <div class="col-2 paddingZero">
          <ul class="nav flex-column" id="exCollapsingNavbar3">
              <a class="nav-link navbarItems active" [class.selectedPage]="this.selectedPage=='myEquipments'" href="/home"><li class="nav-item">
                  <span class="my-equipments" [class.selectedItem]="this.selectedPage=='myEquipments'">MY EQUIPMENT</span>
              </li>
            </a>  
            <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myOrders'" href="/equipmentDetails"><li class="nav-item">
              <span class="my-orders" [class.selectedItem]="this.selectedPage=='myOrders'">MY ORDERS</span>
                 </li>
            </a>
          <a class="nav-link navbarItems" [class.selectedPage]="this.selectedPage=='myRequisitions'" href="/home"><li class="nav-item">
            <span class="my-requisitions" [class.selectedItem]="this.selectedPage=='myRequisitions'">MY REQUISITIONS</span>
          </li>
          </a>
        </ul>
        </div>
        <div class="col-8">
            <router-outlet></router-outlet>
        </div>   
        <div class="col-2">

        </div>
    </div>
</div>

