<nav class="navbar navbar-toggleable-md top-navbar-container container-fluid paddingZero">
    <div class="brandContainer col-2">   
        <div class="brandBox">        
            <img src="/assets/images/page-1@3x.png" width="65" height="40" class="headerIconImage" alt="">
        </div>
    </div>
    
    <div class="col-7"> 
        <form class="form-inline searchForm ">
            <div class="input-group searchFormInputs">
              <span class="input-group-addon searchIcon" id="basic-addon1">
                  <i class="fa fa-2x fa-search"></i>
              </span>
              <input type="text" class="form-control" aria-describedby="search">
            </div>
        </form>
    </div>
    
    <div class="col-3">         
        <a class="active menuItem" href="#"><i class="fa fa-2x fa-truck"></i></a>
        <a class="menuItem" href="#"><i class="fa fa-2x fa-envelope-o"></i></a>
        <a class="menuItem" href="#"><i class="fa fa-2x fa-shopping-cart"></i></a>
        <a class="menuItem disabled" href="#">User</a>          
    </div>
</nav>

<div class="col-12 paddingZero">
    <router-outlet></router-outlet>
</div>



