<div class="container tabDetailsPanel">
    <div class="row">
    <div class="col-md-12">
    <!-- Nav tabs --><div class="tabContainer card">
    <ul class="nav nav-tabs col-12" role="tablist" style="padding-right:0; border-bottom:none;">
    <li role="presentation" class="tabDetails maintenanceTab col-3 active"><div style="opacity: 0.15;background-color: #9b9b9b;height: 100%;position: absolute;width: 100%;"></div><a href="#maintenance" class="tabLinks maintenanceLink" aria-controls="home" role="tab" data-toggle="tab">Maintenance</a></li>
    <li role="presentation" class="tabDetails messageTab col-3"><div style="opacity: 0.06;background-color: #9b9b9b;height: 100%;position: absolute;width: 100%;"></div><a href="#messages" class="tabLinks messageLink" aria-controls="profile" role="tab" data-toggle="tab">Messages</a></li>
    <li role="presentation" class="tabDetails orderHistoryTab col-3"><div style="opacity: 0.06;background-color: #9b9b9b;height: 100%;position: absolute;width: 100%;"></div><a href="#orderHistory" class="tabLinks orderHistoryLink" aria-controls="messages" role="tab" data-toggle="tab">Order History</a></li>
    <li role="presentation" class="tabDetails serviceHistoryTab col-3"><div style="opacity: 0.06;background-color: #9b9b9b;height: 100%;position: absolute;width: 100%;"></div><a href="#serviceHistory" class="tabLinks serviceHistoryLink" aria-controls="settings" role="tab" data-toggle="tab">Service History</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
    <div role="tabpanel" class="tab-pane active"  id="maintenance">
      <div class="col-4 scheduledClass">
        <div style="position: absolute;opacity: 0.15;background-color: #9b9b9b;z-index: -1;height: 100%;width: 100%;"></div>
        <span class="maintenanceNumber">02</span>
        <span class="maintenanceDetail">Scheduled Maintenance</span>
      </div>
      <div class="col-4 predictedClass">
          <div style="position: absolute;opacity: 0.15;background-color: #9b9b9b;z-index: -1;height: 100%;width: 100%;"></div>
          <span class="maintenanceNumber">05</span>
          <span class="maintenanceDetail" style="color: #9b9b9b;">Predicted Maintenance</span>
      </div>
      <div class="col-4 upgradeClass">
          <div style="position: absolute;opacity: 0.15;background-color: #9b9b9b;z-index: -1;height: 100%;width: 100%;"></div>
            <span class="maintenanceNumber">02</span>
            <span class="maintenanceDetail" style="color: #9b9b9b;">Upgrades</span>
      </div>
    </div>
    <div role="tabpanel" class="tab-pane" id="messages"></div>
    <div role="tabpanel" class="tab-pane" id="orderHistory"></div>
    <div role="tabpanel" class="tab-pane" id="serviceHistory"></div>
    </div>
    </div>
    </div>
    </div>
    </div>
    