<div class="container-fluid paddingZero contentContainer">
    <div class="row paddingZero marginZero">
        <div class="col-2 paddingZero">
          <app-left-sidebar></app-left-sidebar>
        </div>
        
        <div class="col-8">
            <div class="col-12 align-items-center">
                <div id="chartdiv" appMapview ></div>
            </div>
        </div>
        
        <div class="col-2 paddingZero">
            <div id="sidebar-wrapper" class="rightSidebar">
                <div class="sidebar-nav marginZero">
                    <div class="sidebar-brand container">
                        <div class="row">
                            <div class="col-9">
                                <div class="itemHeader">Boyle Logistics</div>  
                                <div><small class="description">Equipments (Across Locations)</small></div>
                            </div>
                            <div class="col-3 itemHeaderImage">
                                <!--<i class="fa fa-chevron-right itemCaret"></i>  -->
                                <img src="/assets/images/BL icon-2x.png" width="40" height="35" class="" alt=""/>
                            </div>
                        </div>
                        <div class="row subHeaderRow">                            
                            <div class="col-12">
                                <div class="container itemHeader">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="whiteOval text-center">
                                            <img src="/assets/images/tick-1.png" width="15" height="15" class="" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="container paddingZero">
                                                <div class="row">St Paul Warehouse</div>
                                                <div class="row"><small class="description">5 Upcoming Events</small></div>
                                                <div class="row paddingZero itemSubHeader">
                                                    <div class="col-2 paddingZero redDigit"><span class="redDigitSpan">02</span></div>
                                                    <div class="col-2 paddingZero blackDigit"><span class="blackDigitSpan">05</span></div>
                                                    <div class="col-2 paddingZero grayDigit"><span class="grayDigitSpan">02</span></div>
                                                    <div class="col-1 paddingZero divider grayDigit">&nbsp;</div>
                                                    <div class="col-5 paddingZero blackDigit text-center"><span class="blackDigitSpan">09</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>
                            
                        </div>
                        <div class="row subHeaderRow">                            
                            <div class="col-12">
                                <div class="container itemHeader">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="grayOval text-center">
                                            <img src="/assets/images/exclaim-1.png" width="15" height="15" class="" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="container paddingZero">
                                                <div class="row">Denver Warehouse</div>
                                                <div class="row"><small class="description">6 Upcoming Events</small></div>
                                                <div class="row paddingZero itemSubHeader">
                                                    <div class="col-2 paddingZero redDigit"><span class="redDigitSpan">01</span></div>
                                                    <div class="col-2 paddingZero blackDigit"><span class="blackDigitSpan">02</span></div>
                                                    <div class="col-2 paddingZero grayDigit"><span class="grayDigitSpan">05</span></div>
                                                    <div class="col-1 paddingZero divider grayDigit">&nbsp;</div>
                                                    <div class="col-5 paddingZero blackDigit text-center"><span class="blackDigitSpan">08</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>                            
                        </div>
                        <div class="row subHeaderRow">                            
                            <div class="col-12">
                                <div class="container itemHeader">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="redOval text-center">
                                            <img src="/assets/images/exclaim-4.png" width="15" height="15" class="" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="container paddingZero">
                                                <div class="row">Lewis Town Warehouse</div>
                                                <div class="row"><small class="description">5 Upcoming Events</small></div>
                                                <div class="row paddingZero itemSubHeader">
                                                    <div class="col-2 paddingZero redDigit"><span class="redDigitSpan">01</span></div>
                                                    <div class="col-2 paddingZero blackDigit"><span class="blackDigitSpan">08</span></div>
                                                    <div class="col-2 paddingZero grayDigit"><span class="grayDigitSpan"> </span></div>
                                                    <div class="col-1 paddingZero divider grayDigit">&nbsp;</div>
                                                    <div class="col-5 paddingZero blackDigit text-center"><span class="blackDigitSpan">09</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>                            
                        </div>
                        <div class="row subHeaderRow">                            
                            <div class="col-12">
                                <div class="container itemHeader">
                                    <div class="row">
                                        <div class="col-2">
                                            <div class="grayOval text-center">
                                            <img src="/assets/images/exclaim-1.png" width="15" height="15" class="" alt=""/>
                                            </div>
                                        </div>
                                        <div class="col-10">
                                            <div class="container paddingZero">
                                                <div class="row">Houston Warehouse</div>
                                                <div class="row"><small class="description">6 Upcoming Events</small></div>
                                                <div class="row paddingZero itemSubHeader">
                                                    <div class="col-2 paddingZero redDigit"><span class="redDigitSpan">02</span></div>
                                                    <div class="col-2 paddingZero blackDigit"><span class="blackDigitSpan">05</span></div>
                                                    <div class="col-2 paddingZero grayDigit"><span class="grayDigitSpan">02</span></div>
                                                    <div class="col-1 paddingZero divider grayDigit">&nbsp;</div>
                                                    <div class="col-5 paddingZero blackDigit text-center"><span class="blackDigitSpan">09</span></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                  
                            </div>                            
                        </div>
                        
                    </div>
                    <div class="sidebar-brand container">
                        <div class="row">
                            <div class="col-10">
                                <div class="itemHeader itemHeaderWithDesc">Order History</div>
                            </div>
                            <div class="col-2">
                                <i class="fa fa-chevron-right itemCaret"></i>  
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-brand container">
                        <div class="row">
                            <div class="col-10">
                                <div class="itemHeader itemHeaderWithDesc">Service History</div>
                            </div>
                            <div class="col-2">
                                <i class="fa fa-chevron-right itemCaret"></i>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

